.Shop {
  background-image: url("../../img/Shop__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  .shop__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 230px;
    .shop_left {
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      height: 900px;
      padding: 150px;
      .shop_left_group{
        margin-top: 80px;
        margin-left: 50px;
        .shop__leftSet{
          max-width: 271px;
        }
        .shop_left_definition{
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 800px;
          gap: 60px;
          margin-left: -55px;
          margin-top: 50px;
          p{
            color: #FFF;
            font-family: Roboto Slab;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 62.108px; /* 194.089% */
          }
        }
      }
    }
    .shop_right {
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      height: 900px;
      padding: 150px;
      .shop_left_group{
        margin-top: 80px;
        margin-left: 50px;
        .shop__leftSet{
          max-width: 271px;
        }
        .shop_left_definition{
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 800px;
          gap: 60px;
          margin-left: -55px;
          margin-top: 50px;
          p{
            color: #FFF;
            font-family: Roboto Slab;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 62.108px; /* 194.089% */
          }
        }
      }
    }
  }
}


// @media screen and (max-width: 1625px)

@media screen and (max-width: 1420px){
.shop__inner{
  .shop_left {
    background-image: url("../../img//Shop__left.png");
    background-repeat: no-repeat;
    background-size: 600px;
    // height: 700px !important;
    // padding: 100px !important;
    .shop_left_group{
      .shop__leftSet{
        max-width: 201px !important;
      }
      .shop_left_definition{
        max-width: 800px;
        gap: 50px !important;
        margin-left: -65px !important;
        margin-top: 50px;
        p{
          font-size: 30px !important;
        }
      }
    }
  }
  .shop_right{
    background-image: url("../../img//Shop__left.png");
    background-repeat: no-repeat;
    background-size: 600px;
  .shop_left_group{
    .shop__leftSet{
      max-width: 201px !important;
    }
    .shop_left_definition{
      max-width: 800px;
      gap: 50px !important;
      margin-left: -65px !important;
      margin-top: 50px;
      p{
        font-size: 30px !important;
      }
    }
  }
  }
}

}

@media screen and (max-width: 1285px){
  .shop__inner{
    .shop_left {
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      background-size: 500px;
      .shop_left_group{
        .shop__leftSet{
          max-width: 151px !important;
          margin-top: -50px;
          margin-left: -25px;
        }
        .shop_left_definition{
          max-width: 600px;
          gap: 50px !important;
          margin-left: -95px !important;
          margin-top: 60px !important;
          p{
            font-size: 25px !important;
          }
        }
      }
    }
    .shop_right{
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      background-size: 500px;
    .shop_left_group{
      .shop__leftSet{
        max-width: 151px !important;
        margin-top: -50px;
        margin-left: -25px;
      }
      .shop_left_definition{
        max-width: 600px;
        gap: 50px !important;
        margin-left: -95px !important;
        margin-top: 60px !important;
        p{
          font-size: 25px !important;
        }
      }
    }
    }
  }
  
  }

@media screen and (max-width: 1125px){
    .shop__inner{
      // flex-direction: column;
      .shop_left {
        background-image: url("../../img//Shop__left.png");
        background-repeat: no-repeat;
        background-size: 400px;
        .shop_left_group{
          .shop__leftSet{
            max-width: 111px !important;
            margin-top: -90px;
            margin-left: -55px;
          }
          .shop_left_definition{
            max-width: 600px;
            gap: 40px !important;
            margin-left: -117px !important;
            margin-top: 20px !important;
            p{
              font-size: 20px !important;
            }
          }
        }
      }
      .shop_right{
        background-image: url("../../img//Shop__left.png");
        background-repeat: no-repeat;
        background-size: 400px;
      .shop_left_group{
        .shop__leftSet{
          max-width: 111px !important;
          margin-top: -90px;
          margin-left: -55px;
        }
        .shop_left_definition{
          max-width: 600px;
          gap: 40px !important;
          margin-left: -117px !important;
          margin-top: 20px !important;
          p{
            font-size: 20px !important;
          }
        }
      }
      }
    }
    
}

@media screen and (max-width: 965px){
      .shop__inner{
        // flex-direction: column;
        .shop_left {
          background-image: url("../../img//Shop__left.png");
          background-repeat: no-repeat;
          background-size: 300px;
          .shop_left_group{
            .shop__leftSet{
              max-width: 91px !important;
              margin-top: -190px;
              margin-left: -100px;
            }
            .shop_left_definition{
              max-width: 500px !important;
              gap: 40px !important;
              margin-left: -135px !important;
              margin-top: -55px !important;
              p{
                font-size: 13px !important;
              }
            }
          }
        }
        .shop_right{
          background-image: url("../../img//Shop__left.png");
          background-repeat: no-repeat;
          background-size: 300px;
        .shop_left_group{
          .shop__leftSet{
            max-width: 91px !important;
            margin-top: -190px;
            margin-left: -100px;
          }
          .shop_left_definition{
            max-width: 500px !important;
            gap: 40px !important;
            margin-left: -135px !important;
            margin-top: -55px !important;
            p{
              font-size: 13px !important;
            }
          } 
        }
        }
      }
      
      }