.Shop {
  background-image: url("../../img/Shop__bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  .shop__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 230px;
    .shop_left {
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      height: 900px;
      padding: 150px;
      .shop_left_group{
        margin-top: 80px;
        margin-left: 50px;
        .shop__leftSet{
          max-width: 271px;
        }
        .shop_left_definition{
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 800px;
          gap: 60px;
          margin-left: -55px;
          margin-top: 50px;
          p{
            color: #FFF;
            font-family: Roboto Slab;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 62.108px; /* 194.089% */
          }
        }
      }
    }
    .shop_right {
      background-image: url("../../img//Shop__left.png");
      background-repeat: no-repeat;
      height: 900px;
      padding: 150px;
      .shop_left_group{
        margin-top: 80px;
        margin-left: 50px;
        .shop__leftSet{
          max-width: 271px;
        }
        .shop_left_definition{
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 800px;
          gap: 60px;
          margin-left: -55px;
          margin-top: 50px;
          p{
            color: #FFF;
            font-family: Roboto Slab;
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: 62.108px; /* 194.089% */
          }
        }
      }
    }
  }
}

// @media (max-width:1430px){
// .shop__inner{
// // margin: 0 auto ;
// // display: flex;
// // justify-content: center;
// // padding-top: 10px !important;
// // height: 100vh !important;
// .shop__left{
//    .shop__leftImg{
//     // width: 350px;
//    }
// }
// }

// }
