.Hero {
  width: 100%;
  background-image: url("../../img/hero__bg.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100%;
  .hero__inner {
    flex-wrap: wrap;
    padding-top: 307px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero__left {
      h3 {
        color: #fff;
        font-family: Roboto Slab;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      h2 {
        width: 576px;
        height: 158px;
        color: #fff;
        font-family: Roboto Slab;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .hero__order{
        
            border-radius: 5px;
            background: #167526;
            padding: 18px 24px;
            border: none;
            color: #fff;
        
      }
    }
  }
}
@media (max-width:1383px){
  .hero__right{
    width: 50%;
    // background-color: red;
    img{
max-width: 100%;
    }
  }
}
@media (max-width:1189px){
  .hero__right{
    width: 45%;
    img{
max-width: 100%;
    }
  }
}
@media (max-width:1086px){
  .hero__right{
    width: 450px;
    margin-top: -30%;
    // background-color: red;
    img{
max-width: 100%;
    }
  }
}
@media (max-width:1086px){
  .hero__right{
    width: 300px;
    margin-top: -30%;
    // background-color: red;
    img{
max-width: 100%;
    }
  }
}
@media (max-width:913px){
  .hero__left{
    h2{
      font-size: 35px !important;
    }
  }
  .hero__right{
margin-top: -30%;
    width: 200px;
    // background-color: red;
    img{

max-width: 100%;
    }
  }
}
