.Kompaniya{
          background-image: url('../../img//companybackground.png');
          background-repeat: no-repeat;
          background-size: 100% 900px cover;
        //   object-fit: contain;
          position: relative;
}
.kompaniya_inner{
          padding: 144px 1018px 93px 100px;
          .kompaniya_hero{
                    margin-top: 190px;
                    h2{
                              color: #FFF;
                              font-size: 54px;
                              font-weight: 400;
                              line-height: 64.8px; 
                    }
                    p{
                              color: #FFF;
                              font-family: Roboto Slab;
                              font-size: 26px;
                              font-style: normal;
                              line-height: 38.5px; 
                              margin-top: 30px;
                              letter-spacing: 1px;
                    }
          }
}