.Header {
  position: absolute;
  width: 100%;
  margin-bottom: 100px;
}
.nav {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
  .header__list {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    a {
      text-decoration: none;
      color: #000;
      font-family: Roboto Slab;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.28px;
      text-transform: uppercase;
    }
    .header__order {
      border-radius: 5px;
      background: #167526;
      padding: 20px 30px;
      border: none;
      color: #fff;
      color: #fff;
      font-family: Roboto Slab;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.28px;
      text-transform: uppercase;
    }
  }
}
.none {
  display: none;

}
.header__list1{
  text-align: center;
  a{
 
    color: #000;
    color: #000;
    font-family: Roboto Slab;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    &:hover{
      color:lightblue;
    }
    .header__order {
      border-radius: 5px;
      background: #167526;
      padding: 10% 30px;
      border: none;
      color: #fff;
      color: #fff;
      font-family: Roboto Slab;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.28px;
      text-transform: uppercase;
    }
  }
}
.dropdown-toggle{
  background-color: transparent !important;
  border: none;
  &::after{
    display: none;
  }
  .bi-list{
    font-size: 50px;
    color: black;
  }
}

@media (max-width:1670px) {
  .nav {
    .logo {
      margin-left: 40px;
    }
  }
}

@media (max-width:813px) {
  .nav {
    .logo {
      // margin: 0 auto;
    }
  }
}

@media (max-width:720px) {
  .nav {
    .dropdown-toggle{
      
      .bi-list{
        font-size: 50px;
        color: #fff;
      }
    }
  }
}

@media (max-width:415px) {
  .nav {
    .logo {
      margin-left: 10px;
    }
  }
}