.Difference {
  padding-top: 105px;
}
.difference__inner {
  margin-left: -130px;
  .difference__top {
    display: flex;
    max-width: 1745px;
    .difference__top-left {
      padding-left:163px;
      display: flex;
      justify-content: space-between;
      background-image: url('../../img/Difference__Bg.png');
      background-repeat: no-repeat;
      background-position:abs($number: 80px);
      flex-grow: 1;

      p {
        display: flex;
        max-width: 608px;
        height: 454px;
        flex-direction: column;
        justify-content: center;
        color: #000;
        font-family: Roboto Slab;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: 33.5px; /* 152.273% */
        padding-right: 50px;
      }
    }
    .difference__top-right{
      display: flex;
      align-items: center;
      padding-left: 10px !important;
    }
  }
  .difference__bottom {
    padding-top: 141px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 137px;
    .difference__bottom-right{
      flex-grow: 1;
    }
    .difference__top-left {
      // max-width: 604px;
      // margin-right: 37px !important;
      background-image: url('../../img/Difference__Bg.png');
      background-position: -4px;
      background-repeat: no-repeat;
      margin-left: -20px;
      p {
        max-width: 578px;
        height: 454px;
        color: #000;
        font-family: Roboto Slab;
        font-size: 22px;
        font-weight: 400;
        line-height: 33.5px;
        padding-right: 50px;
        margin-left: 102px;

      }
    }
  }
}
